@import url("./fonts/Roboto-Bold.ttf");

@font-face {
  font-family: logoBold;
  src: url(/styles/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(/styles/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: regular;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #eeeeee;
  padding: 10px;
}
.logo-section a {
  font-family: logoBold;
  font-size: 32px;
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
}
/* .dots {
  color: #f6546a;
} */
footer {
  background-color: #eeeeee;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #222222;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
  color: white;
  font-weight: bold;
}
