@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/cta.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
header {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #eeeeee;
  padding: 10px;
}
.logo-section a {
  font-size: 32px;
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
}
.cta {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.cta h3 {
  font-size: 40px;
}
.cta h1 {
  font-size: 60px;
  letter-spacing: 3px;
}
/* .dots {
  color: #f6546a;
} */
footer {
  background-color: #eeeeee;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #222222;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
  color: white;
  font-weight: bold;
}
